@font-face {
    font-family: 'VGA';
    src: url('PerfectDOSVGA437Slav.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    background-color: #101010;
    color: azure;
    font-family: 'VGA', monospace;
    font-size: 16px; /* Adjust as needed */
    line-height: 1.2; /* Adjust for that tight retro spacing */
    text-shadow:
            0 0 2px rgba(255, 255, 255, 0.5),  /* Soft inner glow */
            0 0 4px rgba(255, 255, 255, 0.4),  /* Medium soft glow */
            0 0 10px rgba(255, 255, 255, 0.3);  /* Subtle outer glow */
    -webkit-font-smoothing: none; /* Disable smoothing in WebKit */
    -moz-osx-font-smoothing: grayscale; /* Disable smoothing in Firefox */
    font-smooth: never; /* Disable font smoothing */
    image-rendering: pixelated; /* Ensure images are pixelated */
    image-rendering: crisp-edges; /* Additional pixelation control */
    letter-spacing: 0; /* Make sure letters are tight */
    transform: scale(1); /* Optional, remove any browser default scaling */
    transform-origin: 0 0; /* Ensures scaling is done from the top-left */
}

.width-limiter{
    max-width: 900px;
}

.inputs{
    margin-right: 16px;
}

